// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note {
	background-color: lightyellow;
	width: 200px;
	min-height: 100px;
	padding: 5px 15px;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}

h3 {
	border-bottom: 2px dotted black;
}